<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each productsInCart}}
                            <tr>
                                <td class="cart-pic first-row"><img src="{{this.image}}"></td>
                                <td class="cart-title first-row">
                                    <h5><a href="/product/{{this.slug}}">{{this.name}}</a></h5>
                                </td>
                                <td style="padding-top: 30px;">
                                    <select class="form-control select-size">
                                        <option value="S" {{{initSize this._id ../session 'S'}}} {{{disableSize this.quantityOfSizeS}}}>S</option>
                                        <option value="M" {{{initSize this._id ../session 'M'}}} {{{disableSize this.quantityOfSizeM}}}>M</option>
                                        <option value="L" {{{initSize this._id ../session 'L'}}} {{{disableSize this.quantityOfSizeL}}}>L</option>
                                    </select>
                                </td>
                                <td class="p-price first-row price-each-product-in-cart">{{this.price}}.000đ</td>
                                <td class="qua-col first-row">
                                    <input class="text-center numberProductInput" type="number"
                                        value="{{this.quantityInCart}}" min="1" max="100" step="1" />
                                </td>
                                <td class="total-price first-row total-price-each-product">{{this.totalPrice}}.000đ</td>
                                <td class="close-td first-row">
                                    <a href="/product/remove-from-cart/{{this._id}}">X</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <a href="/product" class="primary-btn up-cart">Continue shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="cart-total">Total <span>{{totalPriceInCart}}.000đ</span></li>
                            </ul>
                            <a href="/product/check-out" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<script src="js/cart-page.js"></script>