{{!--<div class="row">
    <div class="col-md-2 mt-4 mb-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Add product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/edit-product">Edit product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/trash-product">Trash</a>
            </li>
        </ul>
    </div>
   
</div>--}}




<div id="wrapper">
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="container-fluid mt-4 mb-4">
                    <table class="table">
                        <thead>
                           <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">League</th>
                                <th scope="col">Club</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Quantity of size S</th>
                                <th scope="col">Quantity of size M</th>
                                <th scope="col">Quantity of size L</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                               <td scope="row">{{sum @index 1}}</td>
                                    <td><a href="/product/{{this.slug}}">{{this.name}}</a></td>
                                    <td>{{this.price}} </td>
                                    <td>{{this.league}}</td>
                                    <td>{{this.club}}</td>
                                    <td>{{this.description}}</td>
                                    <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 240px;"></td>
                                    <td>{{this.quantityOfSizeS}}</td>
                                    <td>{{this.quantityOfSizeM}}</td>
                                    <td>{{this.quantityOfSizeL}}</td>
                                <td>
                                    <a type="button" href="" class="btn btn-outline-primary btn-restore" data-id="{{this._id}}">Khôi
                                        Phục</a>
                                    <a type="button" id="btn-delete" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#delete-product-modal" data-id="{{this._id}}">Xoá Vĩnh Viễn</a>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="7" class="trash-product">
                                    Danh sách rỗng <a href="/admin">Danh sách sản phẩm của bạn</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn không thể khôi phục với sự lựa chọn này?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button id="btn-delete-product" type="button" class="btn btn-danger" data-dismiss="modal"
                                        data-id="{{this._id}}" data-target="">Xóa vĩnh viễn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="POST" name="delete-product-form"></form>
                <form method="POST" name="restore-product-form"></form>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var courseId;
                        var deleteForm = document.forms['delete-product-form']
                        var restoreForm = document.forms['restore-product-form']
                        var btnDelete = document.getElementById('btn-delete-product')
                        var btnRestore = $('.btn-restore');

                        //when dialog confirm clicked
                        $('#delete-product-modal').on('show.bs.modal', function (event) {
                            var button = $(event.relatedTarget);
                            courseId = button.data('id');
                        })

                        //when delete course btn clicked
                        btnDelete.onclick = function () {
                            deleteForm.action = `admin/trash-product/${courseId}/force?_method=DELETE`;
                            deleteForm.submit();
                        }


                        btnRestore.click(function (e) {
                            e.preventDefault();
                            var productId = $(this).data('id');
                            restoreForm.action = `admin/trash-product/${productId}/restore?_method=PATCH`;
                            restoreForm.submit()
                        })

                    })
                </script>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
	<div class="clearfix"></div>
</div>